<br>
<h2>Jugador - suma: {{sumaCartas}}</h2>
<div class="envoltorio col-md-6">
  <div id="cartas-jugador" *ngFor="let item of arrayImagenesJugador; let i = index">
    <img [src]="arrayImagenesJugador[i]" />
  </div>
</div>


<div class="col-md-6" *ngIf="banderaAs">
  <br>
  Elegir el valor que le quiera asignar al As
  <br>
  <div class="form-check">
      <input class="form-check-input" type="radio" name="radio" id="flexRadioDefault1" checked  value=1 [(ngModel)]="valorAs">
      <label class="form-check-label" for="flexRadioDefault1">
        Uno
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="radio" id="flexRadioDefault2" value=11 [(ngModel)]="valorAs" >
      <label class="form-check-label" for="flexRadioDefault2">
        Once
      </label>
  </div>
<br>
  <button (click)="elegirValorAs()" class="btn btn-info">Elegir</button>
</div>
<br>

<button type="button" (click)="seguir()" *ngIf="bandera" class="btn btn-success">Seguir</button>
<button type="button" (click)="parar()" class="btn btn-danger">Parar</button>
<br>

