<h2>Jugador - suma: {{sumaCartas}}</h2>
<div class="envoltorio">
  <!-- <div id="cartas-jugador" *ngFor="let item of this.mazoService.devolverArrayImagenesJugador(); let i = index">
    <img [src]="this.mazoService.devolverArrayImagenesJugador()[i]" />
  </div> -->

  <div id="cartas-jugador" *ngFor="let item of arrayImagenesJugador; let i = index">
    <img [src]="arrayImagenesJugador[i]" />
  </div>


    

</div>

<button type="button" (click)="seguir()" *ngIf="bandera" class="btn btn-success">Seguir</button>
<button type="button" (click)="parar()" class="btn btn-danger">Parar</button>

<div class="col-md-6" *ngIf="banderaAs">
  <div class="form-check">
      <input class="form-check-input" type="radio" name="radio" id="flexRadioDefault1" checked  value=1 [(ngModel)]="valorAs">
      <label class="form-check-label" for="flexRadioDefault1">
        Uno
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="radio" id="flexRadioDefault2" value=11 [(ngModel)]="valorAs" >
      <label class="form-check-label" for="flexRadioDefault2">
        Once
      </label>
  </div>

  <button (click)="elegirValorAs()" class="btn btn-info">Elegir</button>
</div>




<!-- 
<div class="container">
  <app-boton-parar></app-boton-parar>
  <app-boton-seguir (onBotonSeguir)="sumarValorCarta($event)" ></app-boton-seguir>
</div> -->
