<div class="container">
    <form>
        <div class="mb-3">
          <label for="txtLogin" class="form-label">Cuenta Login</label>
          <input type="text" class="form-control" id="txtLogin" name="txtLogin">
          </div>
        <div class="mb-3">
          <label for="txtPass" class="form-label">Password</label>
          <input type="password" class="form-control" id="txtPass" name="txtPass">
        </div>

        <div class="mb-3">
          <label for="disabledSelect" class="form-label">Seleccionar Rol</label>
          <select id="disabledSelect" class="form-select">
            <option>Rol Administrador</option>
            <option>Rol Jugador</option>
          </select>
        </div>

        <button type="button" class="btn btn-primary">Ingresar</button>
      </form>
</div>
